body{
    background-color:lightgray;
}
 
.gameStartText{
    font-size: 18px;
    font-weight: 600;
}
 
input[name='num']{
    padding:8px;
    height:22px;
    border-radius:4px;
    border:1px solid #ddd;
}
 
/* button s */
.start_btn{
    border:0 none;
    background-color:darkcyan;
    color:#fff;
    padding:12px 22px;
    border-radius:4px;
    font-size:16px;
}
 
.apply_btn{
    border:0 none;
    background-color:#333;
    color:#fff;
    height:32px;
    margin-left: 22px;
    padding:0 22px;
    border-radius:4px;
    font-size:16px;
}
 
.btn_restart,
.btn_end{
    border:0 none;
    color:#fff;
    padding:12px 22px;
    border-radius:4px;
    font-size:16px;
}
 
.btn_restart{ background-color:darkcyan; margin-right: 12px; }
.btn_end{ background-color:darkred; }