*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}

.container{
    height: 100%;
    background-color: #523487;
}


.chat-screen{
    overflow: scroll;
    height: calc(100% - 10%);
}

.user{
    background-color: white;
    padding: 16px;
    height: 80px;
}
.user__column{
    float: left;
}

.user__pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius:  10px;
    background-color: rgb(242, 88, 250);
}
.user__nick, .user__count{
    margin: 5px;
}
.user__count{
    font-size:12px;
    color: gray;
}

/* 채팅 입력창 */
.chat-form{
    height: 120px;
    background-color: white;
}
.chat-form__field{
    height: 120px;
}
.chat-form_msg{
    float: left;
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    resize: none;
    font-size: 24px;
    padding: 10px;
}

.chat-form_bt{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: #f2fa58;
    font-size: 18px;
}

.chat-form_bt:active{
    background-color: #d6c420;
}

.chat-form_msg:focus{
    outline: none;
}

.chat-screen__texts_me{
    color: black;
}